:root {
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, Montserrat;
}
@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }
}